<%= form_with model: @bank do |f| %>
  <% @bank.errors.full_messages.each do |error| %>
    <div>
      <%= error %>
    </div>
  <% end %>

  <div>
    <%= f.label :name, class: "block mb-2 text-sm text-gray-700 font-medium" %>
    <%= f.text_field :name, autofocus: true, class: "py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" %>
  </div>

  <div>
    <%= f.label :balance, class: "block mb-2 text-sm text-gray-700 font-medium" %>
    <%= f.number_field :balance, class: "py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" %>
  </div>

  <div>
    <%= f.label :picture, class: "block mb-2 text-sm text-gray-700 font-medium" %>
    <%= f.label :picture, class: "block font-medium cursor-pointer min-w-72 py-2 text-center text-gray-700 border-2 border-[#cacaca] border-dashed rounded-lg hover:bg-gray-50" do %>
      <span class="bank_picture">
        <%= t('.select_picture') %>
      </span>
    <% end %>
    <%= f.file_field :picture, class: "w-[0.1px] h-[0.1px] absolute -z-10 inputfile" %>
  </div>

  <div>
    <%= f.label :icon, class: "block mb-2 text-sm text-gray-700 font-medium" %>
    <%= f.label :icon, class: "block font-medium cursor-pointer min-w-72 py-2 text-center text-gray-700 border-2 border-[#cacaca] border-dashed rounded-lg hover:bg-gray-50" do %>
      <span class="bank_icon">
        <%= t('.select_icon') %>
      </span>
    <% end %>
    <%= f.file_field :icon, class: "w-[0.1px] h-[0.1px] absolute -z-10 inputfile" %>
  </div>

  <div class="mt-4 w-full flex gap-3" data-controller="sweetalert">
    <%= f.submit class: "bg-main-color text-white rounded p-2 w-full" %>
    <% if action_name == 'edit' %>
      <a data-action="click->sweetalert#delete" data-parameters='{"id": <%= @bank.id %>, "model": "banks"}' class="bg-main-color text-white rounded p-2 w-full text-center"><%= t('.delete') %></a>
    <% end %>
  </div>
<% end %>

<script>
  const $inputs = document.querySelectorAll('.inputfile')
  
  $inputs.forEach((input) => {
    input.addEventListener('change', (e) => {
      const $label = document.querySelector(`.${input.id}`)
      $label.innerText = e.target.files[0].name
    })
  })
</script>
