<%= form_with model: @bank do |f| %>
  <% @bank.errors.full_messages.each do |error| %>
    <div>
      <%= error %>
    </div>
  <% end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :balance %>
    <%= f.number_field :balance %>
  </div>

  <div>
    <%= f.submit %>
    <%= link_to t('.delete'), bank_path(@bank.id), data: { turbo_method: :delete, turbo_confirm: t('common.confirmation') } if action_name == 'edit' %>
  </div>
<% end %>
