<%= form_with model: @category do |f| %>
  <% @category.errors.full_messages.each do |error| %>
    <div>
      <%= error %>
    </div>
  <% end %>

  <div>
    <%= f.label :name, class: "block mb-2 text-sm text-gray-700 font-medium" %>
    <%= f.text_field :name, autofocus: true, class: "py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" %>
  </div>

  <div>
    <%= f.label :icon, class: "block mb-2 text-sm text-gray-700 font-medium" %>
    <%= f.file_field :icon %>
  </div>

  <div class="mt-4 w-full flex gap-3" data-controller="sweetalert">
    <%= f.submit class: "bg-main-color text-white rounded p-2 w-full" %>
    <% if action_name == 'edit' %>
      <a data-action="click->sweetalert#delete" data-parameters='{"id": <%= @category.id %>, "model": "categories"}' class="bg-main-color text-white rounded p-2 w-full text-center"><%= t('.delete') %></a>
    <% end %>
  </div>
<% end %>
