<main class="lg:px-[10%] mb-5">
  <%= form_with url: transactions_path, method: :get, class: "grid md:grid-cols-2 lg:grid-cols-4 gap-3 md:gap-4 mb-3" do |f| %>
    <div class="p-1 md:p-2 bg-white border shadow-sm rounded-xl">
      <%= f.select :transaction_type, options_for_select([[t('.income'), 0], [t('.expense'), 1]], params[:transaction_type]), { include_blank: "Type" }, { onChange: "this.form.requestSubmit()", class: "py-2 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" } %>
    </div>
    <div class="p-1 md:p-2 bg-white border shadow-sm rounded-xl">
      <%= f.collection_select :category, Category.account(current_user.account.id), :id, :name, { include_blank: "Category", selected: params[:category] }, { onChange: "this.form.requestSubmit()", class: "py-2 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" } %>
    </div>
    <div class="p-1 md:p-2 bg-white border shadow-sm rounded-xl">
      <%= f.collection_select :bank, Bank.account(current_user.account.id), :id, :name, { include_blank: "Bank", selecte: params[:bank] }, { onChange: "this.form.requestSubmit()", class: "py-2 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" } %>
    </div>
    <div class="p-1 md:p-2 bg-white border shadow-sm rounded-xl">
      <%= f.text_field :query_text, placeholder: "Search by name or description...", onChange: "this.form.requestSubmit()", value: params[:query_text], class: "py-2 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" %>
    </div>
  <% end %>
  <section class="p-4 md:p-5 bg-white border shadow-sm rounded-xl w-full max-h-[70vh]">
    <div class="flex justify-between items-center mb-4">
      <h3 class="text-xl font-semibold text-gray-800"><%= t('.all_transactions') %></h3>
      <div class="flex gap-2">
        <%= link_to t('common.back'), root_path, class: "py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 active:scale-95 transaction-all duration-300 text-center" %>
        <%= link_to new_transaction_path, data: { turbo_frame: "modal" } do %>
          <div class="bg-main-color text-white rounded-lg flex justify-center py-2 px-3 shadow-sm transaction-all duration-300 active:scale-95">
            <%= image_tag "icons/plus.svg", class: "w-5 h-5" %>
            <p><%= t('.add') %></p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="overflow-y-auto max-h-[55vh] scroll-bar">
      <table class="min-w-full table-auto bg-white shadow-md rounded-lg">
        <thead class="bg-gray-50 border-b">
          <tr>
            <th class="px-6 py-3 text-left text-sm font-medium text-gray-700"><%= t('.transaction_name') %></th>
            <th class="px-6 py-3 text-left text-sm font-medium text-gray-700"><%= t('.transaction_description')%></th>
            <th class="px-6 py-3 text-left text-sm font-medium text-gray-700"><%= t('.transaction_amount') %></th>
            <th class="px-6 py-3 text-left text-sm font-medium text-gray-700"><%= t('.transaction_date') %></th>
            <th class="px-6 py-3 text-left text-sm font-medium text-gray-700"><%= t('.transaction_type') %></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "transactions/transaction", collection: @transactions %>
        </tbody>
      </table>
    </div>
  </section>
</main>

<style>
  .scroll-bar {
    --sb-track-color: #ffffff;
    --sb-thumb-color: #638c6d;
    --sb-size: 10px;
  }

  .scroll-bar::-webkit-scrollbar {
    width: var(--sb-size)
  }

  .scroll-bar::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
  }

  .scroll-bar::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
  }

  @supports not selector(::-webkit-scrollbar) {
    scroll-bar {
      scrollbar-color: var(--sb-thumb-color)
      var(--sb-track-color);
    }
  }
</style>
