<main class="sm:mx-[25%] lg:mx-3 xl:mx-[10%]">
  <section class="flex flex-col lg:flex-row justify-between gap-3 px-2 md:px-0">
    <section class="w-full lg:w-1/5">
      <section class="p-4 md:p-5 bg-white border shadow-sm rounded-xl h-full max-h-[80vh] overflow-y-auto scroll-bar">
        <div class="flex justify-between items-center mb-2">
          <h3 class="text-xl font-semibold text-gray-800"><%= t('.categories') %></h3>
          <%= link_to new_category_path, data: { turbo_frame: "modal" } do %>
            <div class="bg-main-color text-white rounded-lg flex justify-center py-1 px-2 shadow-sm transaction-all duration-300 active:scale-95">
              <%= image_tag "icons/plus.svg", class: "w-5 h-5" %>
              <p><%= t('.add') %></p>
            </div>
          <% end %>
        </div>
        <%= render partial: "categories/category", collection: @categories %>
      </section>
      <div class="p-4 md:p-5 bg-white border shadow-sm rounded-xl mt-3">
        <span class="text-sm text-gray-500"><%= t('.number_categories') %></span>
        <p class="text-gray-800 text-xl font-semibold"><%= @categories.count %></p>
      </div>
    </section>

    <section class="w-full lg:w-3/5">
      <section class="p-4 md:p-5 bg-white border shadow-sm rounded-xl h-full max-h-[80vh]">
        <div class="flex justify-between items-center mb-4">
          <div>
            <span class="text-sm text-gray-500"><%= t('.transactions') %></span>
            <h3 class="text-xl font-semibold text-gray-800"><%= t('.transactions_today') %></h3>
          </div>
          <div class="flex gap-2">
            <%= link_to t('.all_transactions'), transactions_path, class: "py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 active:scale-95 transaction-all duration-300 text-center" %>
            <%= link_to new_transaction_path, data: { turbo_frame: "modal" } do %>
              <div class="bg-main-color text-white rounded-lg flex justify-center py-2 px-3 shadow-sm transaction-all duration-300 active:scale-95">
                <%= image_tag "icons/plus.svg", class: "w-5 h-5" %>
                <p><%= t('.add') %></p>
              </div>
            <% end %>
          </div>
        </div>
        <div class="overflow-y-auto max-h-[65vh] scroll-bar">
          <table class="min-w-full bg-white shadow-md rounded-lg">
            <thead class="bg-gray-50 border-b">
              <tr>
                <th class="px-6 py-3 text-left text-sm font-medium text-gray-700"><%= t('.transaction_name') %></th>
                <th class="px-6 py-3 text-left text-sm font-medium text-gray-700"><%= t('.transaction_description')%></th>
                <th class="px-6 py-3 text-left text-sm font-medium text-gray-700"><%= t('.transaction_amount') %></th>
                <th class="px-6 py-3 text-left text-sm font-medium text-gray-700"><%= t('.transaction_date') %></th>
                <th class="px-6 py-3 text-left text-sm font-medium text-gray-700"><%= t('.transaction_type') %></th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: "transactions/transaction", collection: @transactions %>
            </tbody>
          </table>
        </div>
      </section>
      <div class="grid md:grid-cols-2 md:gap-3">
        <div class="p-4 md:p-5 bg-white border shadow-sm rounded-xl mt-3">
          <div>
            <span class="text-sm text-gray-500"><%= t('.number_transactions_today') %></span>
            <p class="text-gray-800 text-xl font-semibold"><%= @transactions.count %></p>
          </div>
        </div>
        <div class="p-4 md:p-5 bg-white border shadow-sm rounded-xl mt-3">
          <div>
            <span class="text-sm text-gray-500"><%= t('.total_amount_today') %></span>
            <p class="text-gray-800 text-xl font-semibold"><%= @total_amount %></p>
          </div>
        </div>
      </div>
    </section>

    <section class="w-full lg:w-1/5">
      <section class="p-4 md:p-5 bg-white border shadow-sm rounded-xl h-full max-h-[80vh] overflow-y-auto scroll-bar">
        <div class="flex justify-between items-center">
          <h3 class="text-xl font-semibold text-gray-800"><%= t('.banks') %></h3>
          <%= link_to new_bank_path, data: { turbo_frame: "modal" } do %>
            <div class="bg-main-color text-white rounded-lg flex justify-center py-1 px-2 shadow-sm transaction-all duration-300 active:scale-95">
              <%= image_tag "icons/plus.svg", class: "w-5 h-5" %>
              <p><%= t('.add') %></p>
            </div>
          <% end %>
        </div>
        <%= render partial: "banks/bank", collection: @banks %>
      </section>
      <div class="p-4 md:p-5 bg-white border shadow-sm rounded-xl mt-3">
        <span class="text-sm text-gray-500"><%= t('.number_banks') %></span>
        <p class="text-gray-800 text-xl font-semibold"><%= @banks.count %></p>
      </div>
    </section>
  </section>
  <section class="grid lg:grid-cols-2 md:gap-3 mt-5 px-2 md:px-0">
    <section class="p-4 md:p-5 bg-white border shadow-sm rounded-xl w-full h-full">
      <%= line_chart Transaction.group_by_day(:date).count %>
    </section>
    <section class="p-4 md:p-5 bg-white border shadow-sm rounded-xl w-full h-full">
    </section>
  </section>
</main>
<%= turbo_frame_tag "modal" %>

<style>
  .scroll-bar {
    --sb-track-color: #ffffff;
    --sb-thumb-color: #638c6d;
    --sb-size: 10px;
  }

  .scroll-bar::-webkit-scrollbar {
    width: var(--sb-size)
  }

  .scroll-bar::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
  }

  .scroll-bar::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
  }

  @supports not selector(::-webkit-scrollbar) {
    scroll-bar {
      scrollbar-color: var(--sb-thumb-color)
      var(--sb-track-color);
    }
  }
</style>
